@font-face {
	font-family: 'Phosphor-Bold';
	src:
		url('./Phosphor-Bold.woff2') format('woff2'),
		url('./Phosphor-Bold.woff') format('woff'),
		url('./Phosphor-Bold.ttf') format('truetype'),
		url('./Phosphor-Bold.svg#Phosphor-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Phosphor-Fill';
	src:
		url('./Phosphor-Fill.woff2') format('woff2'),
		url('./Phosphor-Fill.woff') format('woff'),
		url('./Phosphor-Fill.ttf') format('truetype'),
		url('./Phosphor-Fill.svg#Phosphor-Fill') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Phosphor-Light';
	src:
		url('./Phosphor-Light.woff2') format('woff2'),
		url('./Phosphor-Light.woff') format('woff'),
		url('./Phosphor-Light.ttf') format('truetype'),
		url('./Phosphor-Light.svg#Phosphor-Light') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Phosphor';
	src:
		url('./Phosphor.woff2') format('woff2'),
		url('./Phosphor.woff') format('woff'),
		url('./Phosphor.ttf') format('truetype'),
		url('./Phosphor.svg#Phosphor') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Phosphor-Thin';
	src:
		url('./Phosphor-Thin.woff2') format('woff2'),
		url('./Phosphor-Thin.woff') format('woff'),
		url('./Phosphor-Thin.ttf') format('truetype'),
		url('./Phosphor-Thin.svg#Phosphor-Thin') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.ph-bold {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Phosphor-Bold' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga=1';
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga' 1;
	font-feature-settings: 'liga';
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ph-fill {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Phosphor-Fill' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga=1';
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga' 1;
	font-feature-settings: 'liga';
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ph-light {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Phosphor-Light' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga=1';
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga' 1;
	font-feature-settings: 'liga';
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ph {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Phosphor' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga=1';
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga' 1;
	font-feature-settings: 'liga';
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ph-thin {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Phosphor-Thin' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga=1';
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga' 1;
	font-feature-settings: 'liga';
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
